<!DOCTYPE html>
<html>
  <head>
    <link href="flextest.css" rel="stylesheet">
    </head>
<body>
<header>

   <div class="wrap">
  
    <main>
      
      <aside id="results">
        <img class="res-thumbnail" src="https://drive.google.com/thumbnail?sz=w320&amp;id=0B9y1-prT44zAMFRNNFl5MEtwc1k">
        <img class="res-thumbnail" src="https://drive.google.com/thumbnail?sz=w320&amp;id=0B9y1-prT44zAMFRNNFl5MEtwc1k">
        <img class="res-thumbnail" src="https://drive.google.com/thumbnail?sz=w320&amp;id=0B9y1-prT44zAMFRNNFl5MEtwc1k">
        <img class="res-thumbnail" src="https://drive.google.com/thumbnail?sz=w320&amp;id=0B9y1-prT44zAMFRNNFl5MEtwc1k">
        <img class="res-thumbnail" src="https://drive.google.com/thumbnail?sz=w320&amp;id=0B9y1-prT44zAMFRNNFl5MEtwc1k">
        <img class="res-thumbnail" src="https://drive.google.com/thumbnail?sz=w320&amp;id=0B9y1-prT44zAMFRNNFl5MEtwc1k">
        <img class="res-thumbnail" src="https://drive.google.com/thumbnail?sz=w320&amp;id=0B9y1-prT44zAMFRNNFl5MEtwc1k">
        <img class="res-thumbnail" src="https://drive.google.com/thumbnail?sz=w320&amp;id=0B9y1-prT44zAMFRNNFl5MEtwc1k">
      </aside>
      
      <article>
        <iframe id = "viewer" src="" ></iframe>
      </article>
      
    </main>
  
  </div>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script>
      $(document).ready(function() {
        $( "img" ).click(function() {
          $("iframe").attr('src', 'https://drive.google.com/a/media.ucla.edu/file/d/0B9y1-prT44zALUQtZVcyaW1aSTQ/preview')
        });
      });

    </script>

</body>
</html>