<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daily Bruin | Archive</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700italic,400italic,300italic,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker3.css">

    <link href="../css/timeline.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">

</head>
    <nav class="navbar navbar-default navbar-fixed-top">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header pull-left">
          <a class="navbar-brand" href="#">Daily Bruin</a>
      </div>

      <div class="navbar-header pull-right">
        <a role="button" data-placement="bottom" data-toggle="popover" class="btn btn-link navbar-btn" id="searchBtn"><i class="fa fa-search"></i></a>
        <div id="searchMenu" class="hidden">
          sdfasdfasdf
        </div>

        <button type="button" class="btn btn-link navbar-btn">Print Archive</button>
      </div>
    </nav>


    <div class="header text-center">
        <div class="intro">
            <h1>
                <span id="logo">Daily Bruin</span>
                <span id="divider">|</span>
                <span id="archive">Print Archive</span>
            </h1>
            <h4 style="margin-bottom:20px">Since 1915</h4>
            <a class="btn btn-default btn-lg" id="start">START</a>
        </div>
    </div>
    <div class="wrapper">
        <div class="container">
            <div class="page-header">
                <h1 id="timeline">...A newspaper was born</h1>
            </div>
            <div class="row" >
                <div class="col-md-4" id="search-preview">
                    <div class="row">
                        <nav>
                            <ul id="pagination" class="pagination-sm"></ul>
                    </div>
                    <div class="row">
                        <div class="col-md-12" id="results">
                        </div>
                    </div>
                </div>
                <div id="viewer" class="span-12"></div>
            </div>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script  src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"   integrity="sha256-oTyWrNiP6Qftu4vs2g0RPCKr3g1a6QTlITNgoebxRc4="   crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.3.1/jquery.twbsPagination.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker3.min.css">

    <script type="text/javascript" src="../js/WebArchive.js"></script>
    <script type="text/javascript" src="../js/script.js"></script>
<!--js for past 2003 stuff-->
<script>
    var $searchField = $("#search-field");
    var $searchText = $("#search-text");
    var $results = $("#results");
    var $pagination = $("#pagination");

    function ResultBox(resItem) {
        this.id = resItem.docsFileId;
        this.date = new Date(Date.parse(resItem.date));
        this.url = resItem.directLink;
        this.page = resItem.page;
    }

    ResultBox.prototype.toEl = function() {
        var $el = $("<div>", {class: "col-md-6 res-box"});
        var $a = $("<a>", {href: this.url, target: "_blank" });
        var $img = $("<img>", {
            class: "res-thumbnail col-md-12",
            src: "https://drive.google.com/thumbnail?sz=w320&id="  + this.id
        });
        var $a = $a.append($img);
        var $desc = $("<h4>" + this.date.toDateString() + " Page: " + this.page + "</h4>")

        $el.append($a).append($desc);
        return $el;
    }

    function handleResponse(dat) {
        console.log(dat);
        $results.html("");
        $pagination.twbsPagination({
            totalPages: dat.totalPages,
            startPage: dat.page,
            visiblePages: 10,
            initiateStartPageClick: false,
            onPageClick: function(event, page) {
                $.get("/api/search/" + $searchText.val() +"/" + page, handleResponse);
            }
        });
        dat.data.forEach(function(item) {
            var rb = new ResultBox(item);
            $results.append(rb.toEl());
        });
    }

    $searchField.submit(function(e){
        e.preventDefault();
        $pagination.unbind().removeData();
        $.get("/api/search/" + $searchText.val() , handleResponse);
    });

    $(function(){
        if($searchText.val())
            $searchField.trigger("submit");
    });
</script>

<!--js for landing page + before 2003 stuff-->


<script>
    $("#start").click(function() {
        $('#time-navigation').fadeIn('slow');
        $('.wrapper').fadeIn('slow');
        $('html, body').animate({
            scrollTop: $("#timeline").offset().top-50
        }, 1000, function(){
            setTimeout(function(){
                $('.header').fadeOut();
            },2000);
        });
    });

</script>
  <!--
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

    <script>
        (function(){
            var evt = new Event(),
                    m = new Magnifier(evt);
            m.attach({
                thumb: '#thumb',
                large: 'images/ucladailybruin01losa_0004.jpg',
                largeWrapper: 'preview',
                zoom:5
            });
            /*Header Animation*/
            $('#start').click(function(){
                $('.intro').fadeOut(function(){
                    $('#time-navigation').fadeIn('slow');
                    $('.header').animate({
                        //'background-color':'#333',
                        'height':15+'vh',
                        'padding':0
                    }, 500);
                });
            });
        })();
    </script>
  -->

</body>
</html>
